*{
    font-family: 微軟正黑體;
}
body{
    overflow-x: hidden;
}
#menu-switch {
    display: none;
}
.main-header {
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0px;
    z-index: 10;
    height: 67px;
}
/* -------------------- */
.main-header .logo {
    margin-top: 10px;
    width:100px;
}
.main-header .logo img {
    width: 100%;
}
.main-nav{
    margin: 14px 0px 0px 40px;
    margin-right: -210px;
}
.main-nav a{
margin-left: 20px;
}
/* -------------------- */
.main-header .hb {
    width: 40px;
    height: 40px;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12px;
    margin-right: -100px;

}
.main-header .hb span {
    width: 80%;
    height: 2px;
    background-color: #fff;
}
#menu-switch:checked ~ .main-header .hb {
    background-color: rgb(32, 32, 32);
}
.search-box{
    display: flex;
    background-color: rgb(217, 217, 217);
    width: 20px;
    height: 28px;
    margin: 17px;
    border-radius: 15px 0 0 15px;
}
.fa-solid{
    color: rgb(0, 0, 0);
    margin: 7px 0 0 4px;
}
.search-b{
    width: 120px;
    border: 0px;
    background-color: rgb(217, 217, 217);
    border-radius: 0 15px 15px 0;
}
.all-box{
    margin: 0px;
}
.box-1{
    width: 500px;
    height: 215px;
    background-color: rgb(28, 52, 174);
    position: absolute;
    margin: 150px 0px 0 0;
}
.box-1 h1{
    color: aliceblue;
    font-size: 55px;
    text-align: right;
    line-height:60px;
    margin: 20px;
}
.txt-1{
    margin: 0 180px 0 0;
}
.txt-2{
    margin: 0 40px 0 0;
}
.big-pic{
    display: flex;
    justify-content: right;
}
.container1{
    margin-top: 0px;
    background-image: url(../index.pic/black1.png);
    background-size: cover;
    
    justify-content: center;
}
.row{
    display: flex;
    flex-direction: column;
}
.box-2{
    margin: 147px;
    border-radius: 102px;
}
.txt{
    width: 180px;
    height: 65px;
    background-color: rgb(28, 47, 147);

}
.txt h2{
    text-align: end;
    font-size: 24px;
    color: aliceblue;
    margin-right:30px;
    padding-top: 20px;
}
.card-box{
    display: flex;
}
.card{
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    margin: 10px;
}
.card-1{
    display: flex;
    border: 1px solid white;
    flex-direction: column;
    margin: 10px;
}
a{
    text-decoration:none
}
.card img{
    width: 100%;
    height: 100%;
}
.card-1 img{
    width: 100%;
    height: 100%;
}
.card p{
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin: 5px;
}
.card-1 p{
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin: 5px;
}
.date{
    text-align: end;
}
.date span{
    font-size: 8px;
}
.fa-window-minimize{
    color: aliceblue;
    margin-top: -19px;
}
.fa-circle{
    color: aliceblue;
    font-size: 5px;
    margin-left: 18px;
}
.box-3{
    margin: auto;
    margin-left: 150px;
}
.btn-class{
    margin: 60px 0 80px 0;
}
.btn-class img{
    width: 400px;
    margin: 0px 50px 0 20px;
}
.txtclass{
    width: 180px;
    height: 65px;
    background-color: rgb(28, 47, 147);
}
.txtclass h2{
    text-align: end;
    font-size: 24px;
    color: aliceblue;
    margin-right:30px;
    padding-top: 20px;
}
.box-3 img{

}
.container2{
    display: flex;
    justify-content: center;
}
.col-2{
    display: flex;
    margin: 30px;
}
.img-2-1 img{
    width: 90%;
}
.txt-p{
    width:500px;
    margin: 40px;
}
.txt-p h3{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.txt-p p{
margin: 20px 0px 30px 20px;
font-size: 18px;
line-height: 30px;
}
.btn-more{
    display: flex;
    justify-content: end;
    margin-top: 150px;
}
button{
    width: 100px;
    height: 50px;
    background: white;
    color: rgb(28, 47, 147);
    border: 1px solid rgb(28, 47, 147);
    font-size: 20px;
    border-radius: 30px;
}
.container3{
    background-image: url(../index.pic/black2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.col-3{
    margin: 100px 0 0 0;
    width: 900px;
}
.txt-p-1{
    padding: 90px 30px 20px 20px;
    border: 2px solid white;
}
.txt-p-1 h3{
    font-size: 24px;
    color: white;
    margin: 10px 0px 40px 10px;
}
.txt-p-1 li{
    font-size: 18px;
    color: white;
    list-style: number;
    line-height: 25px;
    margin: 25px 0px 0 60px;
}
.txt-p-1 li span{
    margin-left: 20px;
}
.btn-more-1{
    display: flex;
    justify-content: end;
    margin: 0 20px 20px 0;
}
.container4{
    background-color: rgb(32, 32, 32);
}
.img-2{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.end-class{
    display: flex;
    justify-content: center;
}
.end-class h2{
    font-size: 24px;
    color: azure;
    text-align: center;
    padding: 30px;
}
.class-b{
    width: 665px;
    padding-bottom: 100px;
}
.class-b img{
    margin: 15px;
}
.footer{
    margin-top: 5px;
    background-color: rgb(32, 32, 32);
    height: 118px;
    display: flex;
    justify-content: space-around;
}
.footer-logo img{
    width: 80px;
    margin: 10px 0 0 80px;
    position: absolute;
}
.footer-txt{
    text-align: left;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
.footer-txt h3{
    margin: 10px 0 10px 0;
}
.footer-ul{
    width: 600px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    border-top: 2px solid white;
    display: flex;
    flex-flow: wrap;
}
.footer-li1{
    margin-right: 30px;
}
.footer-li2{
    margin-left: 30px;
}
.footer-ul li{
    margin: 8px;
}
.footer-icon{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-iconli i{
    margin: 8px;
}