@media screen and (min-width: 768px) {
    .main-header .hb {
        display: none;
    }
}
/* -------------------- */
@media screen and (max-width: 767px) {
    .main-header .main-nav {
        display: none;
        position: absolute;
        background-color:  rgb(28, 52, 174);
        top: 87%;
        left: 29%;
        width: 70%;
        border: 1px solid white;
    }
    .main-nav a{
        margin-left: 0px;
    }
    .col-1{
        overflow-x: hidden;
        width: 400px;
    }
    .card-1{
        display: flex;
        flex-direction: column;
        width: 506px;
        height: 600px;
        margin-top: 10px;
        margin-left:0px;
    }
    .cardbox-1 img{
        margin-top: 20px;
        margin-left: 145px;
    }
    .p{
        width: 360px;
        margin-left:0px ;
    }
    .card-2{
        flex-direction: column;
        height: 600px;
        margin-left:0px;
    }
    .card-2 img{
        width: 30%;
        margin-left:50px;
        margin-top: 20px;
    }
    .cardbox-3 img{
        margin-left: 100px;
        margin-top: 20px;
    }
    .footer{
        background-color: rgb(32, 32, 32);
        height: 300px;
    }
    .footer-logo img{
        width: 50px;
        margin: 0 0 0 35px;
    }
    .footer-ul{
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    .footer-ul li{
        line-height:20px;
    }
    .footer-li2{
        margin: -5px 0 0 0;
    }
    .footer{
        display: flex;
        flex-flow: column;
    }
    .footer-icon{
        margin: 30px 0 0 50px;
    }
}
@media screen and (min-width: 768px) {
    .main-header .main-nav{
        display: flex;
    }
}
.main-header .main-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    
}
@media screen and (max-width: 767px) {
    .main-header .main-nav a + a {
        border-top: 1px solid #fff;
    }
    #menu-switch:checked ~ .main-header .main-nav {
        display: block;
    }
    .main-nav{
        margin: 10px 0px 0px 45px;
        margin-right: -210px;
    }
    .search{
        display: none;
    }
    .main-header .logo{
        margin-left: -80px;
        margin-top: 10px;
        width: 50px;
    }
}
@media screen and (max-width: 1059px){
    .search{
        margin-right: 180px;
        margin-left: -100px;
    }
    .main-nav{
        margin: auto;
    }
}
@media screen and (max-width: 916px){
    .search{
        display: none;
    }

}