@media screen and (min-width: 768px) {
    .main-header .hb {
        display: none;
    }
}
/* -------------------- */
@media screen and (max-width: 767px) {
    section{
        overflow-x: hidden;
    }
    .main-header .main-nav {
        display: none;
        position: absolute;
        background-color:  rgb(28, 52, 174);
        top: 87%;
        left: 29%;
        width: 70%;
        border: 1px solid white;
    }
    .main-nav a{
        margin-left: 0px;
    }
    .column{
        margin: 10px;
    }
    .cardbox1{
        margin-left: 10px;
    }
    .col-3-1{
        flex-direction: column;
    }
    .cardbox1{
        display: flex;
        flex-direction: column;
    }
    .cardbox1 h4{
        margin: -20px 0 0 0;
        position: relative;
    }
    .col-3-2{
        flex-direction: column;
    }
    .cardbox2{
        display: flex;
        flex-direction: column;
    }
    .col-3-3{
        flex-direction: column;
    }
    .cardbox3{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 300px;
        border: 1px dashed;
        color: white;
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }
    .card:first-child {
        border-top: 0px
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    img{
        width:50%;
    }
    .btn{
        justify-content: end;
        margin-top: 0px;
        margin: auto;
    }
    .end-p{
        width: 350px;
        margin: auto;
        margin-top: 15px;
    }
    .end-p span{
        margin-left: 0px;
    }
    .footer{
        background-color: rgb(32, 32, 32);
        height: 300px;
    }
    .footer-logo img{
        width: 50px;
        margin: 0 0 0 35px;
    }
    .footer-ul{
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    .footer-ul li{
        line-height:20px;
    }
    .footer-li2{
        margin: -5px 0 0 0;
    }
    .footer{
        display: flex;
        flex-flow: column;
    }
    .footer-icon{
        margin: 30px 0 0 50px;
    }
}
@media screen and (min-width: 768px) {
    .main-header .main-nav{
        display: flex;
    }
}
.main-header .main-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    
}
@media screen and (max-width: 767px) {
    .main-header .main-nav a + a {
        border-top: 1px solid #fff;
    }
    #menu-switch:checked ~ .main-header .main-nav {
        display: block;
    }
    .main-nav{
        margin: 10px 0px 0px 45px;
        margin-right: -210px;
    }
    .search{
        display: none;
    }
    .main-header .logo{
        margin-left: -80px;
        margin-top: 10px;
        width: 50px;
    }
}
@media screen and (max-width: 1059px){
    .search{
        margin-right: 180px;
        margin-left: -100px;
    }
    .main-nav{
        margin: auto;
    }
}
@media screen and (max-width: 916px){
    .search{
        display: none;
    }

}