@media screen and (min-width: 768px) {
    .main-header .hb {
        display: none;
    }
}
/* -------------------- */
@media screen and (max-width: 767px) {
    .main-header .main-nav {
        display: none;
        position: absolute;
        background-color:  rgb(28, 52, 174);
        top: 87%;
        left: 29%;
        width: 70%;
        border: 1px solid white;
    }
    .main-nav a{
        margin-left: 0px;
    }
    .box-1{
        width: 150px;
        height: 100px;
        margin-top: 40px;
    }
    .box-1 h1{
        font-size: 25px;
        line-height:25px;
    }
    .big-pic img{
        width: 100%;
    }
    .box-2{
        margin: 20px;
        width: 468px;
    }
    .txt{
        margin-left: -20px;
        height: 30px;
        width: 150px;
    }
    .txt h2{
        margin-right:20px;
        padding-top: 8px;
        font-size: 12px;
    }
    .card-box{
        display: flex;
        flex-direction: column;
        margin-left: -10px;
    }
    .card{
        width: 245px;
        margin-left: 80px;
    }
    .card P{
        font-size: 8px;
    }
    .card .date{
        text-align: start;
    }
    .card img{
        width: 245px;
    }
    .card-1{
        display: none;
    }
    .txtclass{
        margin-left: -150px;
        height: 30px;
        width: 150px;
    }
    .txtclass h2{
        margin-right:20px;
        padding-top: 8px;
        font-size: 12px;
    }
    .btn-class{
        display: flex;
        flex-direction: column;
        margin-left: -150px;
        margin-top: -0px;
    }
    .btn-class img{
        padding-left: 120px;
        margin: 10px;
        width: 200px;
    }
    .img-2-1{
        display: none;
    }
    .txt-p{
        width: 300px;
        margin-top: 0px;
    }
    .txt-p p{
        margin-top: 20px;
        line-height: 30px;
    }
    .btn-more{
        margin-top: 0px;
    }
    .txt-p-1{
        border: 2px solid white;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -10px;
        padding: 20px;
    }
    .txt-p-1 h3{
        margin-top: 20px;
    }
    .txt-p-1 li{
        margin-left: 10px;
        padding-bottom: 10px;
        margin-right: 8px;
    }
    .btn-more-1{
        margin-top: 20px;
    }
    .img-2 img{
        width: 380px;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    #sliderBoard{	/* div */
        border-radius: 8px;
        width: 130px;
        height: 100%;
        margin: auto;
        margin-bottom: 50px;
    
        overflow: hidden;
    } 
    #content{		/* ul */
        position: relative;
    
    }
    #content li{	/* li */
        float: left;
    }
    .footer{
        background-color: rgb(32, 32, 32);
        height: 300px;
    }
    .footer-logo img{
        width: 50px;
        margin: 0 0 0 35px;
    }
    .footer-ul{
        width: 100%;
        display: flex;
        flex-flow: column;
    }
    .footer-ul li{
        line-height:20px;
    }
    .footer-li2{
        margin: -5px 0 0 0;
    }
    .footer{
        display: flex;
        flex-flow: column;
    }
    .footer-icon{
        margin: 30px 0 0 50px;
    }

}
@media screen and (min-width: 768px) {
    .main-header .main-nav{
        display: flex;
    }
}
.main-header .main-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    
}
@media screen and (max-width: 767px) {
    .main-header .main-nav a + a {
        border-top: 1px solid #fff;
    }
    #menu-switch:checked ~ .main-header .main-nav {
        display: block;
    }
    .main-nav{
        margin: 10px 0px 0px 45px;
        margin-right: -210px;
    }
    .search{
        display: none;
    }
    .main-header .logo{
        margin-left: -80px;
        margin-top: 10px;
        width: 50px;
    }
}
@media screen and (max-width: 1059px){
    .search{
        margin-right: 180px;
        margin-left: -100px;
    }
    .main-nav{
        margin: auto;
    }
}
@media screen and (max-width: 916px){
    .search{
        display: none;
    }

}